SEPOLIA_MNEMONIC="sadasd sadasd sadasdasd aaaaa ssss sss ttt yyy tt ii ppp ppp"
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/sadasdasdasdadasd
ETHERSCAN_API_KEY=VTZPSDAKAVPJ1VZX3SKDHBAKSHDBAJDHJSADAJKSHSJ1SDJIT62MVJZV46Q854CZ